{% extends 'base.html' %}

{% block title %}List of doctors{% endblock %}

{% block content %}
    <div class="mask rgba-gradient pb-5 h-100">
        <br class="container h-100 d-flex justify-content-center align-items-center">

            <br class="row d-flex justify-content-center pt-5 mt-3">
            <h1>My reservations</h1>
    <br class="row d-flex justify-content-center pt-5 mt-3">
                {% for r in reservations %}
                <p>{{ r }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}