{% extends 'base.html' %}

{% block title %}List of doctors{% endblock %}

{% block content %}
    <div class="mask rgba-gradient pb-5 h-100">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <br class="row d-flex justify-content-center pt-5 mt-3">
                <div class="card-body text-center text-white">
                    <p class="navbar-brand">Making reservation to doctor - {{ doctor }} </p>
                    <form class="form" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field }}
                        {% endfor %}
                        <input type="submit" class="btn btn-indigo btn-rounded"
                                                       value="Make a reservation">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}